
#particles-js{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('images/literallynothing.png');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: repeat;
  }

  html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('images/papertexture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #303291;
    display: -webkit-flex;
    display: flex;
    font-family: "ipsumsansregular", sans-serif;
    position: absolute;
    letter-spacing: 1.5px;
    line-height: 110%;
}
img {
    float: right;
    height: 400px;
    width: 400px;
    filter: drop-shadow(5px 5px 10px gray);
    padding: 0px;
}
.backimage {
    position: absolute;
    top: 300px;
    left: 300px;
    height: 200px;
    width: 200px;
    opacity: 20%;
}
@font-face {
    font-family: 'ipsumsansregular';
    src: url('ipsumsans-regular-webfont.woff2') format('woff2'),
         url('ipsumsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
mark {
    background-color: #acff99;
    color:#303291;
}
a { 
    background-color: #ebfff0;
    transition: background-color 1s ease-out 100ms;
    text-decoration: none;
    background-image: linear-gradient(#acff99, #acff99);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 25px;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}
a:hover,
a:focus {
    border-spacing: 10px;
    text-decoration: none;
    background-size: 100% 25px;
}
.pageOne {
    position: absolute;
    left: 1%;
    right: 51%;
    top: 3%;
}
.pageTwo {
    position: relative;
    left: 51%;
    right:100%;
    top: 3%;
}
.header {
    font-size: 30px;
}
.subheader {
    font-size:22px;
}
.subpoint{
    text-indent: 15px;
}