html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('papertexture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #303291;
    display: -webkit-flex;
    display: flex;
    font-family: "ipsumsansregular", sans-serif;
    position: absolute;
    letter-spacing: 1.5px;
}
@font-face {
    font-family: 'ipsumsansregular';
    src: url('ipsumsans-regular-webfont.woff2') format('woff2'),
         url('ipsumsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}  
mark {
    background-color: #acff99;
    color:#303291;
}
.pageOne {
    position: absolute;
    left: 1%;
    top: 3%;
}
.pageTwo {
    position: relative;
    left: 51%;
    top: 3%;
}
